<!-- HOME -->
<section class="containerl">
  <h1 class="title">PelisUp!</h1>
  <p class="body-regular description">
    Plataforma para ver películas y series
    <img class="emiji" src="/assets/imagenes/superestrella.png" width="20rem" alt="" />
  </p>
  <input class="search" name="search" type="search" placeholder="🔍Buscar Peliculas y Series" [(ngModel)]="paraBuscar"
    (ngModelChange)="buscar(paraBuscar)" />

  <div class="btn-group me-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary" (click)="cambiarCategoria('Todos')"
      [ngClass]="selected == 'Todos' ? 'button-Selected' : 'button-NoSelected'">
      Todos
    </button>
    <button type="button" class="btn btn-secondary" (click)="cambiarCategoria('movie')"
      [ngClass]="selected == 'movie' ? 'button-Selected' : 'button-NoSelected'">
      Películas
    </button>
    <button type="button" class="btn btn-secondary" (click)="cambiarCategoria('tv')"
      [ngClass]="selected == 'tv' ? 'button-Selected' : 'button-NoSelected'">
      Series
    </button>
  </div>
</section>

<section>
  <h3 class="all d-blonk">Todos <small class="body-regular">(120)</small></h3>
</section>


<div class="container">
  <div class="d-flex justify-content-center aling-items-start flex-wrap">
    <div class="col-md-3 col-12" *ngFor="let movie of movies_series.results">
      <div class="row" *ngIf="selected == 'Todos'">
        <div class="star d-flex justify-content-center align-items-center qualification">
          <app-card [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name" [vote_average]="movie.vote_average"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center aling-items-start flex-wrap">
    <div class="col-md-3 col-12" *ngFor="let movie of movies_series.results">
      <div class="row" *ngIf="selected == 'tv'">
        <div class="star d-flex justify-content-center align-items-center qualification">
          <app-card [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name" [vote_average]="movie.vote_average"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center aling-items-start flex-wrap">
    <div class="col-md-3 col-12" *ngFor="let movie of movies_series.results">
      <div class="row" *ngIf="selected == 'movie'">
        <div class="star d-flex justify-content-center align-items-center qualification">
          <app-card [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name" [vote_average]="movie.vote_average"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>