<!-- HOME -->
<section class="containerl">
    <h1 class="title">PelisUp!</h1>
    <p>Plataforma para ver películas y series <img class="emiji" src="/assets/imagenes/superestrella.png" width="20rem" alt=""></p>
    <input class="search" name="search" placeholder="Buscar Peliculas y Series" type="search" />
    <div class="btn-group me-2" role="group" aria-label="Second group">
      <button type="button" class="btn btn-secondary">Todos</button>
      <button type="button" class="btn btn-secondary">Películas</button>
      <button type="button" class="btn btn-secondary">Series</button>
    </div>
   </section>
<app-card></app-card>
