<section>
  <h3 class="all d-blonk">Todos <small class="body-regular">(120)</small></h3>

  <div class="d-flex justify-content-center aling-items-start flex-wrap">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col-md-3 st">
        <div class="card">
          <div class="qualification">
            <i class="far fa-star mr-1">
              <img class="Estar" src="/assets/imagenes/estrella.png" alt="">6.8</i>
          </div>
          <img class="portada" src="/assets/imagenes/img/1-black-widow.svg" alt="portada" />
          <h5 class="card-title">Black Widow</h5>
        </div>
      </div>

      <!-- <div class="col-md-3">
        <div class="card">
          <div class="star d-flex justify-content-center align-items-center qualification">
            <i class="far fa-star mr-1">
              <img class="Estar" src="/assets/imagenes/estrella.png" alt="">7.9</i>
          </div>
          <img class="portada" src="/assets/imagenes/img/2-shang-chi.svg" alt="portada" />
          <div class="card-body">
            <h5 class="card-title">Shang Chi</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="star d-flex justify-content-center align-items-center qualification">
            <i class="far fa-star mr-1">
              <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.4</i>
          </div>
          <img class="portada" src="/assets/imagenes/img/3-loki.svg" alt="portada" />
          <div class="card-body">
            <h5 class="card-title">Loki</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="star d-flex justify-content-center align-items-center qualification">
            <i class="far fa-star mr-1">
              <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.3</i>
          </div>
          <img class="portada" src="/assets/imagenes/img/4-how-i-met-your-mother.svg" alt="portada" />
          <div class="card-body">
            <h5 class="card-title"> How I Met Your Mother </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="star d-flex justify-content-center align-items-center qualification">
            <i class="far fa-star mr-1">
              <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.3</i>
          </div>
          <img class="portada" src="/assets/imagenes/img/5-money-heist.svg" alt="portada" />
          <div class="card-body">
            <h5 class="card-title">Money Heist</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="star d-flex justify-content-center align-items-center qualification">
            <i class="far fa-star mr-1">
              <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.8</i>
          </div>
          <img class="portada" src="/assets/imagenes/img/6-friends.svg" alt="portada" />
          <div class="card-body">
            <h5 class="card-title">Friends</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="star d-flex justify-content-center align-items-center qualification">
            <i class="far fa-star mr-1">
              <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.1</i>
          </div>
          <img class="portada" src="/assets/imagenes/img/7-the-big-bang-theory.svg" alt="portada" />
          <div class="card-body">
            <h5 class="card-title"> The Big Bang Theory </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="star d-flex justify-content-center align-items-center qualification">
            <i class="far fa-star mr-1">
              <img class="Estar" src="/assets/imagenes/estrella.png" alt="">7</i>
          </div>
          <img class="portada" src="/assets/imagenes/img/8-two-and-a-half-men.svg" alt="portada" />
          <div class="card-body">
            <h5 class="card-title"> Two And a Half Men</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->