<body>
  <header>
    <nav class="navbar bg-body-tertiary">
      <a class="navbar-brand" href="#">
        <img src="/assets/imagenes/icon.svg" alt="image" />
      </a>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Películas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Series</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ingresar</a>
            </li>
          </ul>
        </div>
      </nav>
    </nav>
  </header>
  <section class="containerl">
    <h1 class="title">PelisUp!</h1>
    <p>Plataforma para ver películas y series <img class="emiji" src="/assets/imagenes/superestrella.png" width="20rem" alt=""></p>
    <input class="search" name="search" placeholder="Buscar Peliculas y Series" type="search" />
    <div class="btn-group me-2" role="group" aria-label="Second group">
      <button type="button" class="btn btn-secondary">Todos</button>
      <button type="button" class="btn btn-secondary">Películas</button>
      <button type="button" class="btn btn-secondary">Series</button>
    </div>
     
    <section>
      <h3 class="all d-blonk">Todos <small class="body-regular">(120)</small></h3>

      <div class="d-flex justify-content-center aling-items-start flex-wrap">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="cards">
          <div class="col-md-3">
            <div class="card">
                <div class="star d-flex justify-content-center align-items-center qualification">
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="/assets/imagenes/estrella.png" alt="">6.8</i>
                  </div>
                <img class="portada" src="/assets/imagenes/img/1-black-widow.svg" alt="portada" />
                <h5 class="card-title">Black Widow</h5>
              </div>
            </div>
          </div>
              <div class="col-md-3">
                <div class="card1">
                <div class="star d-flex justify-content-center align-items-center qualification">
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="/assets/imagenes/estrella.png" alt="">7.9</i>
                  </div>
              <img class="portada" src="/assets/imagenes/img/2-shang-chi.svg" alt="portada" />
              <div class="card-body">
                <h5 class="card-title">Shang Chi</h5>
              </div>
            </div>
          </div>
             <div class="col-md-3">
            <div class="card2">
                <div class="star d-flex justify-content-center align-items-center qualification">
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.4</i>
                  </div>
              <img class="portada" src="/assets/imagenes/img/3-loki.svg" alt="portada" />
              <div class="card-body">
                <h5 class="card-title">Loki</h5>
              </div>
            </div>
          </div>
              <div class="col-md-3">
            <div class="card3">
                <div class="star d-flex justify-content-center align-items-center qualification">
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.3</i>
                  </div>
              <img class="portada" src="/assets/imagenes/img/4-how-i-met-your-mother.svg" alt="portada" />
              <div class="card-body">
                <h5 class="card-title"> How I Met Your Mother </h5>
              </div>
            </div>
          </div>
              <div class="col-md-3">
            <div class="card4">
                <div class="star d-flex justify-content-center align-items-center qualification">
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.3</i>
                  </div>
              <img class="portada" src="/assets/imagenes/img/5-money-heist.svg" alt="portada" />
              <div class="card-body">
                <h5 class="card-title">Money Heist</h5>
              </div>
            </div>
          </div>
              <div class="col-md-3">
            <div class="card5">
                <div class="star d-flex justify-content-center align-items-center qualification">
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.8</i>
                  </div>
              <img class="portada" src="/assets/imagenes/img/6-friends.svg" alt="portada" />
              <div class="card-body">
                <h5 class="card-title">Friends</h5>
              </div>
            </div>
          </div>
              <div class="col-md-3">
            <div class="card6">
                <div class="star d-flex justify-content-center align-items-center qualification">
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="/assets/imagenes/estrella.png" alt="">8.1</i>
                  </div>
              <img class="portada" src="/assets/imagenes/img/7-the-big-bang-theory.svg" alt="portada" />
              <div class="card-body">
                <h5 class="card-title"> The Big Bang Theory </h5>
              </div>
            </div>
          </div>
              <div class="col-md-3">
                <div class="card7">
                <div class="star d-flex justify-content-center align-items-center qualification">
                  <i class="far fa-star mr-1">
                    <img class="Estar" src="/assets/imagenes/estrella.png" alt="">7</i>
                  </div>
              <img class="portada" src="/assets/imagenes/img/8-two-and-a-half-men.svg" alt="portada" />
              <div class="card-body">
                <h5 class="card-title"> Two And a Half Men</h5>
              </div>
            </div>
      </div>
      </div>
    </div>
    </section> 
  </section>
</body>